@page "/PDFVIEW"
@*@page "/PdfView/{url}"*@
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
<h3>PdfView</h3>
@*<embed src= "http:k//localhost:8070/pdf/choice.pdf" width= "500" height= "375">*@
@code {
    //[Parameter]
     //public string url { get; set; }
        

}
