@*<form asp-controller="Home" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>

<form asp-controller="Home" asp-action="UploadFiles" method="post"
      enctype="multipart/form-data">

    <input type="file" name="files" multiple />
    <button type="submit">Upload Files</button>
</form>

<form asp-controller="Home" asp-action="UploadFileViaModel" method="post"
      enctype="multipart/form-data">

    <input type="file" name="FileToUpload" />
    <button type="submit">Upload File (model)</button>
</form>*@

<script type="text/javascript">

function clear2(){
    
document.getElementById("textarea2").innerText="";
document.getElementById("textarea2").value="";
}



function clear3(){
    
document.getElementById("textarea").innerText="";
document.getElementById("textarea").value="";
}

</script>

<div class="row">
    <div class="col">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index2">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" id="files" name="files" multiple/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload"/>
                </div>
            </div>
        </form>
    </div>


    <div class="col">
        <p>Push Message</p>
        <div class="signalr-demo">
            <form id="message-form">
                <input type="text" class="form-control" id="message-box"/>
            </form>
            <hr/>
            <ul id="messages"></ul>
        </div>
    </div>

</div>
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Savetext">
    <div class="form-group">
        <div class="col-md-10">
            <p>Save string</p>
            <textarea class="form-control" name="textarea" id="textarea" rows="3" value="@ViewData["url"]">@ViewData["url"]</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="save"/>
        </div>
    </div>

</form>
@* @using (Html.BeginForm("clear", "Home", FormMethod.Post)) *@
@* { *@
@*   *@
<div class="form-group">
    <div class="col-md-10">
        <input type="submit" onclick="clear3()" id="cl" class="btn btn-primary" value="Clear"/>
    </div>
</div>
@* } *@
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Savetext2">
    <div class="form-group">
        <div class="col-md-10">
            <p>Save string</p>
            <textarea class="form-control" name="textarea2"  id="textarea2" rows="3" value="@ViewData["url2"]">@ViewData["url2"]</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="save"/>
        </div>
    </div>

</form>

<div class="form-group">
    <div class="col-md-10">
        <input type="submit" onclick="clear2()" class="btn btn-primary" value="Clear"/>
    </div>
</div>

<center>
    <a href="/Files">
        <button class="btn btn-primary">Show Uploads</button>
    </a>
</center>


<script src="https://unpkg.com/@@aspnet/signalr@@1.0.0-rc1-final/dist/browser/signalr.js"></script>

<script type="text/javascript">
   function copyToClp(txt){
        var m = document;
        txt = m.createTextNode(txt);
        var w = window;
        var b = m.body;
        b.appendChild(txt);
        if (b.createTextRange) {
            var d = b.createTextRange();
            d.moveToElementText(txt);
            d.select();
            m.execCommand('copy');
        }
        else {
            var d = m.createRange();
            var g = w.getSelection;
            d.selectNodeContents(txt);
            g().removeAllRanges();
            g().addRange(d);
            m.execCommand('copy');
            g().removeAllRanges();
        }
        txt.remove();
    }
    const messageForm =  document.getElementById('message-form');
    const messageBox = document.getElementById('message-box');
    const messages = document.getElementById('messages');
    
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .configureLogging(signalR.LogLevel.Information)
        .build();
         function extracteds(messageText){
                                var li= document.createElement('li')
                                var divrow= document.createElement('div')
                                var divcol1= document.createElement('div')
                                var divcol2= document.createElement('div')
                                var button= document.createElement('button')
                                button.onclick=function (){copyToClp(messageText)}
                                button.value="Copy"
                                button.innerText="Copy"
                                button.className="btn btn-primary btn-large"
                                divcol2.className="col mx-5 my-2";
                                divcol1.className="col  mx-5 my-2";
                                divcol1.innerText=messageText;
                                divrow.className="row m-2";
                                divcol2.appendChild(button)
                                divrow.appendChild(divcol1)
                                divrow.appendChild(divcol2)
                                li.appendChild(divrow)
        return li;
        } 
    connection.on('newMessage', (sender, messageText) => {
        
        
       var li = extracteds(messageText);
               
       
       
               console.log(`${sender}:${messageText}`);
            
                       messages.appendChild(li);
    }); 
    
    connection.on('newMessage2', (sender, messageText) => {
        var li = extracteds(messageText);
                
        
        
                console.log(`${sender}:${messageText}`);
             
                        messages.appendChild(li);
    });
    
    connection.start()
        .then(() => console.log('connected!'))
        .catch(console.error);
        
    messageForm.addEventListener('submit', ev => {
        ev.preventDefault();
        const message = messageBox.value;
        connection.invoke('SendMessage', message);
        messageBox.value = '';
    });
    
    function myFunction(value) {

      navigator.clipboard.writeText(value);
    
      /* Alert the copied text */
      // alert("Copied the text: " + value);
    }
</script>